html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color:#D4D4D3;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#header {
position: sticky;
top: 0;
width:100%;
height:87px;
background-color:#2E4361;
display:flex;
justify-content:space-between;
}

#header_left {
display:flex;
align-items:center;
gap:16px;
}

#header_left > button {
background-color:#2E4361;
border:none;
cursor:pointer;
}


#header_center {
display:flex;
align-items:center;
}

#header_center_ul {
display:flex;
gap:16px;
letter-spacing:-0.5px;
font-size:14px;
}

#header_center_ul > li > a {
color:#ffffff;
text-decoration:none;
}

#header_center_ul > li > a:hover {
color:#d5d5d5;
}

#header_right {
display:flex;
align-items:center;
margin-right:16px;
}

#header_right > button {
background-color:#2E4361;
border:none;
cursor:pointer;
}

#signup-form{
    margin:40px auto 35px auto;
    width:376px;
    padding:24px;
    border:1px solid #EAEBEB;
    border-radius:8px;
    box-sizing:border-box;
}

#signup-form  > h1{
    font-size:40px;
    font-weight:bold;
    color:#2E4361;
    text-align:center;
    margin-bottom:25px;
}

#signup-form > form{
    display:flex;
    flex-direction:column;
}

#signup-form > form > label{
    font-size:14px;
    color:#242462;
    margin-bottom:16px;
}

#signup-form > form > input{
    font-size:18px;
    color:#242462;
    margin-bottom:16px;
    border:none;
    border-bottom:1px solid #E2E4E5;
    outline:none;
}

#button_div {
    display:flex;
    flex-direction:column;
    gap:8px;
}

#button_div > button{
    width:100%;
    height:48px;
    background-color:#2E4361;
    border-radius:8px;
    color:#fff;
    font-weight:bold;
    outline:none;
    border:none;
}

#signup-form > form > p{
    font-size: 14px;
    color: red;
    margin-bottom: 16px;
}

footer {
width:100%;
height:87px;
background-color:#2E4361;
margin-top:24px;
position: relative;
bottom:0px;
}