html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color:#D4D4D3;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#header {
position: sticky;
top: 0;
width:100%;
height:87px;
background-color:#2E4361;
display:flex;
justify-content:space-between;
}

#header_left {
display:flex;
align-items:center;
gap:16px;
}

#header_left > button {
background-color:#2E4361;
border:none;
cursor:pointer;
}


#header_center {
display:flex;
align-items:center;
}

#header_center_ul {
display:flex;
gap:16px;
letter-spacing:-0.5px;
font-size:14px;
}

#header_center_ul > li > a {
color:#ffffff;
text-decoration:none;
}

#header_center_ul > li > a:hover {
color:#d5d5d5;
}

#header_right {
display:flex;
align-items:center;
}

#header_right > button {
background-color:#2E4361;
border:none;
cursor:pointer;
}

#main_container {
width:1184px;
margin: 0 auto;
}

.row{
width:576px;
height:40px;
margin:0 auto;
}

.top_col{
margin:24px 8px 8px 8px;
display:flex;
justify-content:space-between;
}

.top_col > a {
font-size:16px;
font-weight:bold;
text-decoration:none;
color:#000000;
}

.top_col > a:hover {
color:#C0C0C0;
}

#free_board {
display:flex;
}

.free_contents {
border:1px solid #BDBDBD;
width:574px;
height:60px;
display:flex;
justify-content:center;
align-items:center;
}

.game_contents {
border:1px solid #BDBDBD;
width:574px;
height:60px;
display:flex;
justify-content:center;
align-items:center;
}

.world_contents {
border:1px solid #BDBDBD;
width:574px;
height:60px;
display:flex;
justify-content:center;
align-items:center;
}

.panCake_contents {
border:1px solid #BDBDBD;
width:574px;
height:60px;
display:flex;
justify-content:center;
align-items:center;
}

#main_top_container {
display:flex;
flex:1;
margin: 0 auto;
background-color:#ffffff;
}


.bottom_col {
margin:32px 8px 8px 8px;
display:flex;
justify-content:space-between;
}

.bottom_col > a {
font-size:16px;
font-weight:bold;
text-decoration:none;
color:#000000;
}

.bottom_col > a:hover {
font-size:16px;
font-weight:bold;
text-decoration:none;
color:#C0C0C0;
}

#main_bottom_container {
display:flex;
flex:1;
margin:0 auto;
background-color:#ffffff;
}


#fbc {
margin:0px 8px 8px 8px;
}

#gbc {
margin:0px 8px 8px 8px;
}

#wbc {
margin:0px 8px 8px 8px;
}

#pcbc {
margin:0px 8px 8px 8px;
}

footer {
width:100%;
height:87px;
background-color:#2E4361;
position:relative;
margin-top:24px;
}



