<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>게시글 상세 페이지</title>
  <meta charset="utf-8">
  <link href="css/detailStyle.css" rel="stylesheet">
</head>
<body>
<div id="wrap">
  <header id="header">
    <div id="header_left">
      <button id="header_left_button"><img src="/icons/hamburger.svg" alt="메뉴바"/></button>
      <button id="header_left_logo" onclick="location.href='/';"><img src="icons/LJHProject.png" alt="로고"/></button>
      <div id="side_menu" style="display:none; z-index:2;">
        <ul>
          <li><a>자유게시판</a></li>
          <li><a>게임 이모저모</a></li>
          <li><a>세상 이모저모</a></li>
          <li><a>잡다한 지식</a></li>
        </ul>
      </div>
    </div>
    <div id="header_center">
      <ul id="header_center_ul">
        <li><a href="free">자유게시판</a></li>
        <li><a href="game">게임 이모저모</a></li>
        <li><a href="world">세상 이모저모</a></li>
        <li><a href="pancake">잡다한 지식</a></li>
      </ul>
    </div>
    <div id="header_right">
      <button class="header_right_button"><img src="icons/Button-membership.png" alt="회원가입버튼"/></button>
      <button class="header_right_button"><img src="icons/Button-login.png" alt="로그인버튼"/></button>
    </div>

  </header>
  <div id="main_container">
    <div id="contents_wrap">
    <div id="top_col">
      <h2 th:text="${boardDetail.b_Title}"></h2>
    </div>
      <form id="update_form" method="post">
        <div id="main_contents">
          <div id="contents_top">
            <p>작성자: <span th:text="${boardDetail.b_Users}"></span></p>
            <p>작성일: <span th:text="${boardDetail.b_Regdate}"></span></p>
        </div>
        <div id="contents_bottom">
          <p th:utext="${boardDetail.b_Contents}"></p>
        </div>
        <div id="button_bar">
          <a th:href="@{/update(b_Id=${boardDetail.b_Id})}"><img src="/icons/Button-update.png" alt="글수정버튼"/></a>
          <a th:href="@{/delete(bid=${boardDetail.b_Id})}"><img src="/icons/Button-delete.png" alt="글삭제버튼"/></a>
        </div>
        </div>
      </form>
    </div>
  </div>


</div>
<footer>

</footer>

<script src="/js/detailScript.js"></script>

</body>
</html>