<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>메인 페이지</title>
    <meta charset="utf-8">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    <div id="wrap">
        <header id="header">
            <div id="header_left">
                <button id="header_left_button"><img src="icons/hamburger.svg" alt="메뉴바"/></button>
                <button id="header_left_logo" onclick="location.href='/';"><img src="icons/LJHProject.png" alt="로고"/></button>
                <div id="side_menu" style="display:none; z-index:2;">
                    <ul>
                        <li><a>자유게시판</a></li>
                        <li><a>게임 이모저모</a></li>
                        <li><a>세상 이모저모</a></li>
                        <li><a>잡다한 지식</a></li>
                    </ul>
                </div>
            </div>
            <div id="header_center">
                <ul id="header_center_ul">
                    <li><a href="free">자유게시판</a></li>
                    <li><a href="game">게임 이모저모</a></li>
                    <li><a href="world">세상 이모저모</a></li>
                    <li><a href="pancake">잡다한 지식</a></li>
                </ul>
            </div>
            <div id="header_right">
                <button class="header_right_button" onclick="location.href='jMemberShip';"><img src="icons/Button-membership.png" alt="회원가입버튼"/></button>
                <button class="header_right_button" onclick="location.href='login';"><img src="icons/Button-login.png" alt="로그인버튼"/></button>
            </div>

        </header>

        <div id ="main_container">
            <div id="main_top_container">
                <div class="con_top_contents">
                    <div class="row">
                        <div class="top_col">
                            <a href="free">자유게시판</a>
                            <a href="write">WRITE</a>
                        </div>
                    </div>
                    <div id="fbc">
                        <ul id="free_board" th:each="freeList, stat : ${viewFree}">
                            <li class="free_contents">
                                <a th:href="@{boardDetail(b_Id=${freeList.b_Id})}"><span th:text="${freeList.b_Title}"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="con_top_contents">
                    <div class="row">
                        <div class="top_col">
                            <a href="game">게임 이모저모</a>
                            <a href="write">WRITE</a>
                        </div>
                    </div>
                    <div id="gbc">
                        <ul id="game_board" th:each="gameList, stat : ${viewGame}">
                            <li class="free_contents">
                                <a th:href="@{boardDetail(b_Id=${gameList.b_Id})}"><span th:text="${gameList.b_Title}"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div id="main_bottom_container">
                <div class="con_bottom_contents">
                    <div class="row">
                        <div class="bottom_col">
                            <a href="world">세상 이모저모</a>
                            <a href="write">WRITE</a>
                        </div>
                    </div>
                    <div id="wbc">
                        <ul id="world_board" th:each="worldList, stat : ${viewWorld}">
                            <li class="free_contents">
                                <a th:href="@{boardDetail(b_Id=${worldList.b_Id})}"><span th:text="${worldList.b_Title}"></span></a>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="con_bottom_contents">
                    <div class="row">
                        <div class="bottom_col">
                            <a href="pancake">잡다한 지식</a>
                            <a href="write">WRITE</a>
                        </div>
                    </div>
                    <div id="pcbc">
                        <ul id="panCake_board" th:each="pcbList, stat : ${viewPcb}">
                            <li class="free_contents">
                                <a th:href="@{boardDetail(b_Id=${pcbList.b_Id})}"><span th:text="${pcbList.b_Title}"></span></a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>

<footer>

</footer>
    <script src="/js/script.js"></script>
</body>
</html>