<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>잡다한 지식</title>
  <meta charset="utf-8">
  <link href="css/panCakeStyle.css" rel="stylesheet">
</head>
<body>
<div id="wrap">
  <header id="header">
    <div id="header_left">
      <button id="header_left_button"><img src="/icons/hamburger.svg" alt="메뉴바"/></button>
      <button id="header_left_logo" onclick="location.href='/';"><img src="icons/LJHProject.png" alt="로고"/></button>
      <div id="side_menu" style="display:none; z-index:2;">
        <ul>
          <li><a>자유게시판</a></li>
          <li><a>게임 이모저모</a></li>
          <li><a>세상 이모저모</a></li>
          <li><a>잡다한 지식</a></li>
        </ul>
      </div>
    </div>
    <div id="header_center">
      <ul id="header_center_ul">
        <li><a href="free">자유게시판</a></li>
        <li><a href="game">게임 이모저모</a></li>
        <li><a href="world">세상 이모저모</a></li>
        <li><a href="pancake">잡다한 지식</a></li>
      </ul>
    </div>
    <div id="header_right">
      <button class="header_right_button"><img src="icons/Button-membership.png" alt="회원가입버튼"/></button>
      <button class="header_right_button"><img src="icons/Button-login.png" alt="로그인버튼"/></button>
    </div>

  </header>

  <div id="main_container">
    <div id="top_col">
      <h2>잡다한 지식</h2>
    </div>
    <div id="main_wrap">
      <div id="main_board">
        <ul id="main_contents">
          <li class="contents_title" style="width:100px;">번호</li>
          <li class="contents_title" style="width:600px;">제목</li>
          <li class="contents_title" style="width:200px;">글쓴이</li>
          <li class="contents_title" style="width:142px;">조회수</li>
          <li class="contents_title" style="width:142px;">작성일</li>
        </ul>
        <div id="main_pcbList">
          <ul id="pcbList_contents" th:each="pcbList, stat : ${viewAllPcb}">
            <li class="contents_detail" style="width:100px;" th:text="${pcbList.b_Id}"></li>
            <li class="contents_detail" style="width:600px;">
              <a th:href="@{boardDetail(b_Id=${pcbList.b_Id})}"><span th:text="${pcbList.b_Title}"></span></a>
            </li>
            <li class="contents_detail" style="width:200px;" th:text="${pcbList.b_Users}"></li>
            <li class="contents_detail" style="width:142px;" th:text="${pcbList.b_Hit}"></li>
            <li class="contents_detail" style="width:142px;" th:text="${pcbList.b_Regdate}"></li>
          </ul>
        </div>
      </div>
      <div id="write_button">
        <button type="button" onclick="location.href='write';"><img src="/icons/write.png" alt="글쓰기버튼"/></button>
      </div>
      <div id="search_bar">
        <input type="text" name="input"/>
        <button type="button" onclick="";><img src="/icons/search_arrow.png" alt="검색버튼"></button>
      </div>
      <div id="button_bar">

        <ul class="pagination">
          <li th:if="${paging.nowPage > 1}">
            <a th:href="@{/pancake(nowPage=1)}" th:text="'<<'"></a>
          </li>

          <li th:if="${paging.nowPage > 1}">
            <a th:href="@{/pancake(nowPage=${paging.nowPage - 1})}" th:text="'<'"></a>
          </li>

          <li th:each="page: ${#numbers.sequence(paging.startPage, paging.endPage)}">
            <a th:href="@{/pancake(nowPage=${page})}" th:text="${page}"></a>
          </li>

          <li th:if="${paging.nowPage < paging.lastPage}">
            <a th:href="@{/pancake(nowPage=${paging.nowPage + 1})}" th:text="'>'"></a>
          </li>

          <li th:if="${paging.nowPage < paging.lastPage}">
            <a th:href="@{/pancake(nowPage=${paging.lastPage})}" th:text="'>>'"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<footer>

</footer>
<script src="/js/panCakeScript.js"></script>
</body>
</html>