<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ljhproject.ljhproject.mybatis.mappers.PageMapper">

    <select id="countBoardFree" resultType="int">
        select count(*) from ljh_board_tb WHERE b_Category = '1'
    </select>

    <select id="countBoardGame" resultType="int">
        select count(*) from ljh_board_tb WHERE b_Category = '2'
    </select>

    <select id="countBoardWorld" resultType="int">
        select count(*) from ljh_board_tb WHERE b_Category = '3'
    </select>

    <select id="countBoardPcb" resultType="int">
        select count(*) from ljh_board_tb WHERE b_Category = '4'
    </select>

    <select id="selectFree" resultType="ljhproject.ljhproject.dto.BoardDto">
        SELECT * FROM ljh_board_tb WHERE b_Category = '1' ORDER BY b_Id DESC
        LIMIT 6 OFFSET #{abc};
    </select>

    <select id="selectFreeAll" resultType="ljhproject.ljhproject.dto.BoardDto">
        SELECT * FROM ljh_board_tb WHERE b_Category = '1' ORDER BY b_Id DESC
        LIMIT 10 OFFSET #{abc};
    </select>

    <select id="selectGame" resultType="ljhproject.ljhproject.dto.BoardDto">
        SELECT * FROM ljh_board_tb WHERE b_Category = '2' ORDER BY b_Id DESC
        LIMIT 6 OFFSET #{abc};
    </select>

    <select id="selectGameAll" resultType="ljhproject.ljhproject.dto.BoardDto">
        SELECT * FROM ljh_board_tb WHERE b_Category = '2' ORDER BY b_Id DESC
        LIMIT 10 OFFSET #{abc};
    </select>

    <select id="selectWorld" resultType="ljhproject.ljhproject.dto.BoardDto">
        SELECT * FROM ljh_board_tb WHERE b_Category = '3' ORDER BY b_Id DESC
        LIMIT 6 OFFSET #{abc};
    </select>

    <select id="selectWorldAll" resultType="ljhproject.ljhproject.dto.BoardDto">
        SELECT * FROM ljh_board_tb WHERE b_Category = '3' ORDER BY b_Id DESC
        LIMIT 10 OFFSET #{abc};
    </select>

    <select id="selectPcb" resultType="ljhproject.ljhproject.dto.BoardDto">
        SELECT * FROM ljh_board_tb WHERE b_Category = '4' ORDER BY b_Id DESC
        LIMIT 6 OFFSET #{abc};
    </select>

    <select id="selectPcbAll" resultType="ljhproject.ljhproject.dto.BoardDto">
        SELECT * FROM ljh_board_tb WHERE b_Category = '4' ORDER BY b_Id DESC
        LIMIT 10 OFFSET #{abc};
    </select>

    <select id="selectDetail" resultType="ljhproject.ljhproject.dto.BoardDto">
        SELECT b_Id, b_Title, b_Contents, b_Users, b_Regdate
        FROM ljh_board_tb
        WHERE b_Id = #{b_Id}
    </select>

    <insert id="insertBoard">
        INSERT INTO ljh_board_tb(b_Title, b_Contents, b_Category)
        VALUE(#{b_Title}, #{b_Contents}, #{b_Category})
    </insert>

    <update id="updateBoard">
        UPDATE ljh_board_tb
        SET b_Title = #{b_Title}, b_Contents = #{b_Contents}, b_Category = #{b_Category}
        WHERE b_Id = #{b_Id}
    </update>

    <delete id="deleteBoard">
        DELETE FROM ljh_board_tb
        WHERE b_Id = #{b_Id}
    </delete>



</mapper>